* {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #000;
  }
  
  /* =========================
     TOP CITY
  ========================= */
  .city {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 1, 103);
    color: white;
    padding: 20px 0;
    height: 35vh;
  }
  
  .qwer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logo-city {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .inst-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .inst {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
  .text-city {
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 10px 0;
  }
  
  /* =========================
     IMAGE + OVERLAY
  ========================= */
  .bg {
    position: relative;
    width: 100%;
    height: 30vh;
  }
  
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* будет красиво заполнять блок */
    display: block;
  }
  
  
  
  /* блок скидки поверх картинки */
  .sale-box {text-align: center;
    position: absolute;
    color: white    ;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
  
    /* если хочешь, чтобы текст был читаемый */
    padding: 10px 14px;
    border-radius: 10px;
  }
  
  .pr {
    display: flex;
    align-items: center;
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 4px 10px rgba(0,0,0,0.8);
  }
  
  .proc {
    font-size: 40px;
    margin-left: 10px;
  }
  
  
  /* =========================
     MOBILE
  ========================= */
  @media (max-width: 360px) {
    .bg {
      height: 36vh;
    }
  
    .pr {
      font-size: 72px;
    }
  
    .proc {
      font-size: 32px;
    }
  }
  